body {
    background-color: #F7F7F7;
}

.App {
    max-width: 480px;
    min-height: 100vh;
    background-color: #fff;
    margin: 0 auto;
}

/*color?: 'inherit' | 'primary' | 'secondary' | 'action' | 'disabled' | 'error';*/
/*backgroung: #E2E2E2*/
